@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default /*, coffee --prefersdark */;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
.logo{
  width: 400px;
}