.head {
    background-color: var(--color-accent-content);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px; 
    padding: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 90vw;
}

.body {
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-base-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}